<a href="https://colab.research.google.com/github/yonguncho/pythonclass/blob/main/Day1_Homework4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#071
#my_variable 이름의 비어있는 튜플을 만들라

my_variable = ()

print("type=", type(my_variable))

type= <class 'tuple'>

In [2]:
#072
#2016년 11월 영화 예매 순위 기준 top3는 다음과 같다. 영화 제목을 movie_rank 이름의 튜플에 저장하라. (순위 정보는 저장하지 않는다)

movie_rank = ("닥터스트레인지", "스플릿", "럭키")

In [3]:
#073 
#숫자 1이 저장된 튜플을 생성하라

tuple = (1,)
print(type (tuple))

<class 'tuple'>

In [5]:
#074
#다음 코드를 실행해보고 오류가 발생하는 원인을 설명하라

t = (1,2,3)
t[0] = 'a'

#tuple은 원소(element)의 값을 변경할 수 없다

TypeError: ignored

In [11]:
#075
#아래와 같이 t에는 1,2,3,4 데이터가 바인딩되어 있다. t가 바인딩하는 데이터 타입은 무엇인가?

t = 1,2,3,4

print(type(t))

#원칙적으로 튜플은 괄호와 함께 데이터를 정의해야 하지만, 사용자 편의를 위해 괄호 없이도 동작한다

<class 'tuple'>

In [12]:
#076

t = ('a', 'b', 'c')

print(type(t))

#t[0] = 'A'
#튜플의 값은 변경 할 수 없기 때문에, 리스트와 달리 아래 코드는 동작하지 않는다
#새로운 튜플을 만들고 t라는 변수를 업데이트 해야 한다. 기존의 튜플 ('a','b','c')은 자동으로 삭제된다

<class 'tuple'>

In [14]:
#077
#다음 튜플을 리스트로 변환하라

interest = ('삼성전자', 'LG전자', 'SK Hynix')

print(type(interest))

data = list(interest)

print(type(data))

<class 'tuple'>
<class 'list'>

In [27]:
#078
#다음 리스트를 튜플로 변경하라

data1 = ['삼성전자', 'LG전자', 'SK Hynix']

print(type(data1))

data2 = tuple(data1)   #VS Code로 돌리면 정상적으로 type이 tuple로 변환 된 것 확인 가능

print(type(data2))

<class 'list'>

TypeError: ignored

In [2]:
#079 튜플 언팩킹
#다음 코드의 실행 결과를 예상하라

temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a,b,c)

apple banana cake

In [4]:
#080 range 함수
#1부터 99까지의 정수 중 짝수만 저장된 튜플을 생성하라

data = tuple(range(2, 100, 2)) 
print(data)

#range(A)
#0부터 A-1까지의 정수 범위를 반환. A까지가 아닌 A-1 이라는 것에 주의

#range(A,B)
#A부터 B-1까지의 정수 범위를 반환. B까지가 아닌 B-1 이라는 것에 주의

#range(A,B,C)
#A 부터 C 숫자 만큼의 간격으로 B-1까지의 정수 범위를 반환. B까지가 아닌 B-1이라는 것에 주의

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [20]:
#081 별 표현식
#기본적으로 데이터 언캐핑은 좌변의 변수와 우변 데이터 개수가 같아야 한다.
#하지만 star expression을 사용하면 변수의 개수가 달라도 데이터 언패킹을 할 수 있다
#튜플에 저장된 데이터 중 앞에 있는 두 개의 데이터만 필요할 경우 나머지 데이터의 언패킹 코드를 작성할 필요가 없다

a, b, *c = (0,1,2,3,4,5)
print(a)
print(b)
print(c)

#다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 우측 8개의 값을 valid_socre 변수에 바인딩 해라

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, _, _= scores
#*valid_score, a, b= scores

print(valid_score)

0
1
[2, 3, 4, 5]
[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [24]:
#082 

#다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 우측 8개의 값을 valid_score 변수에 바인딩해라

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

a, b, *valid_score= scores
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [26]:
#084 비어있는 딕셔너리
#temp 이름의 비어 있는 딕셔너리를 만들라

temp = { }
print(type(temp))

<class 'dict'>

In [28]:
#085
#다음 아이스크림 이름과 희망 가격을 딕셔너리로 구성하라

ice = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [30]:
#086 
#085 번의 딕셔너리에 아래 아이스크림 가격 정보를 추가하라

ice = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}
ice["죠스바"] = 1200
ice["월드콘"] = 1500
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [38]:
#087
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

print("메로나 가격: ", ice["메로나"])

메로나 가격:  1000

In [40]:
#087
#다음 딕셔너리에서 메로나의 가격을 1300으로 수정하라

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

ice["메로나"] = 1300
print(ice)

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [41]:
#088
#다음 딕셔너리에서 메로나를 삭제하라

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

del ice["메로나"]
print(ice)

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [45]:
#090
#다음 코드에서 에러가 발생한 원인을 설명하라
icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바'] = 1000
print(icecream)

#딕셔너리에 없는 키를 사용해서 인덱싱하면 에러가 발생

{'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '누가바': 1000}