<a href="https://colab.research.google.com/github/yonguncho/pythonclass/blob/main/Day1_Homework2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#021 문자열 인덱싱
#letters가 바인딩하는 문자열에서 첫 번째와 세 번째 문자를 출력하세요

letters = 'python'

print(letters[0], letters[2])

p t

In [ ]:
#022 문자열 슬라이싱
#자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요

license_plate = "24가 2210"
a = license_plate[4:]
print(a)
#print(license_plate[-4:])

2210

In [ ]:
#023 문자열 인덱싱
#아래의 문자열에서 '홀'만 출력하세요

string = "홀짝홀짝홀짝"

print(string[::2]) #맨 마지막 값은 오프셋이고, 해당 숫자 만큼 건너띄면서 계산한다, 만약 -1일 경우 reverse와 같다
                   #문자열을 작성하게 되면 각 문자마다 고유의 번호가 매겨지는데 이 번호를 오프셋이라고 한다

홀홀홀

In [ ]:
#024 문자열 슬라이싱
#문자열을 거꾸로 뒤집어 출력하세요

string = "PYTHON"
print(string[::-1])

NOHTYP

In [ ]:
#025 문자열 치환
#아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요

phone_number = "010-1111-2222"
#phone_number1 = phone_number.remove("-") #문자열자료형은 수정 불가, 그래서 replace 함수를 사용
phone_number1 = phone_number.replace("-", " ") #이 때 치환할 문자열은 공백까지 계산된다
print(phone_number1)

010 1111 2222

In [ ]:
#026 문자열 다루기
#25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요

phone_number = "010-1111-2222"
phone_number1 = phone_number.replace("-","")
print(phone_number1)

01011112222

In [ ]:
#027 문자열 다루기
#url에 저장된 웹 페이지 주소에서 도메인을 출력하세요

url = "http://sharebook.kr"
#print(url[17:19])
url1 = url.split('.')
print(url1)

['http://sharebook', 'kr']

In [ ]:
#028 문자열은 immutable
#아래 코드의 실행 결과를 예상해보세요

lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: ignored

In [ ]:
#029 replace 메서드
#아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요

string = 'abcdfe2a354a32a'
string = string.replace('a','A')
print(string)

Abcdfe2A354A32A

In [ ]:
#030 replace 메서드
#아래 코드의 실행 결과를 예상해보세요

string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

In [ ]:
#031 문자열 합치기
#아래 코드의 실행 결과를 예상해보세요

a = "3"
b = "4"
print(a+b) #문자열에 대한 덧셈은 문자열의 연결을 의미

34

In [ ]:
#032 문자열 곱하기
#아래 코드의 실행 결과를 예상해보세요

print("Hi" * 3) #문자열에 대한 곱셈은 문자열의 반복을 의미

HiHiHi

In [ ]:
#033 문자열 곱하기
#화면에 '-'를 80개 출력하세요

print('-' * 80)

--------------------------------------------------------------------------------

In [ ]:
#034 문자열 곱하기
#변수에 다음과 같은 문자열이 바인딩되어 있스빈다.

t1 = 'python'
t2 = 'java'

#변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력하세요
#python java python java python java python java

print (('python'+' '+'java'+' ') * 3)

python java python java python java

In [ ]:
#035 문자열 출력
#변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.

name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

#이름: 김민수 나이: 10이름: 이철희 나이:13

print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [ ]:
#036 문자열 출력
#문자열의 format() 메서드를 사용해서 035번 문제를 다시 풀어보세요

print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [ ]:
#037 문자열 출력
#파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요
#f-string은 문자열 맨 앞에 f를 붙여주고, 중괄호 안에 직접 변수 이름이나 출력하고 싶은 것을 바로 넣으면 된다

name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

result = f'이름: {name1} 나이: {age1}'
print(result)
result1 = f'이름: {name2} 나이: {age2}'
print(result1)

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [ ]:
#038 컴마 제거하기
#삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.

상장주식수 = "5,969,782,550"

result = 상장주식수.replace(",","") #컴마를 제거하지 않을 경우, 바로 변환되지 않는다
inttype = int(result)
print(inttype, type(inttype))

5969782550 <class 'int'>

In [ ]:
#039 문자열 슬라이싱
#다음과 같은 문자열에서 '2020/03'만 출력하세요

분기 = "2020/03(E) (IFRS연결)"
result = 분기[:7]
print(result)

2020/03

In [ ]:
#040 strip 메서드
#문자열의 좌우의 공백이 있을 때 이를 제거해보세요

#strip([char]): 인자로 전달 된 문자를 strip의 왼쪽과 오른쪽에서 제거
#lstrip([char]): 인자로 전달 된 문자를 strip의 왼쪽에서 제거
#rstrip([char]): 인자로 전달 된 문자를 strip의 오른쪽에서 제거
#strip(): 전달 된 인자가 없을 땐 그냥 공백 제거

data = "   삼성전자   "
result = data.strip()
print(result)

삼성전자