<a href="https://colab.research.google.com/github/yonguncho/pythonclass/blob/main/Day1_Homework1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#001 print 기초

print("Hello World")

Hello World

In [ ]:
#002 print 기초

print("Mary's cosmetics")

Mary's cosmetics

In [ ]:
#003 print 기초

print('신씨가 소리질렀다.', '"도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [ ]:
#004 print 기초

print('"C\Windows"')

"C\Windows"

In [ ]:
#005 print 탭과 줄바꿈

print("안녕하세요.\n만나서\t\t반갑습니다.") 
# \t 는 띄어쓰기
# \n 은 줄바꿈

안녕하세요.
만나서		반갑습니다.

In [ ]:
#006 print 여러 데이터 출력

print("오늘은","일요일")

오늘은 일요일

In [ ]:
#007 print 기초

print("naver","kakao","sk","samsung", sep=";")

naver;kakao;sk;samsung

In [ ]:
#008 print 기초

print("naver","kakao","sk","samsung", sep="/")

naver/kakao/sk/samsung

In [ ]:
#009 print 줄바꿈

print("first", end =" ");print("second")

first second

In [ ]:
#010 연산 결과 출력

a = 5
b = 3
print (a/b)

1.6666666666666667

In [ ]:
#011 변수 사용하기

삼성전자 = 50000
print("총 평가금액은",삼성전자*10,"입니다")

총 평가금액은 500000 입니다

In [ ]:
#012 변수 사용하기

시가총액 = 2980000000000
현재가 = 50000
PER = 15.79
print (시가총액)
print (현재가)
print (PER)

2980000000000
50000
15.79

In [ ]:
#013 문자열 출력

s = "hello"
t = "python"

print(s+"!", t)

hello! python

In [ ]:
#014 파이썬을 이용한 값 계산

print (2+2*3)

8

In [ ]:
#015 type 함수
a = 128
print(type(a))

a = "123"
print (type(a))

<class 'int'>
<class 'str'>

In [ ]:
#016 문자열을 정수로 변환

num_str = "720"
print (num_str, type(num_str))

num_int = int(num_str)
print(num_int+1, type(num_int))

720 <class 'str'>
721 <class 'int'>

In [ ]:
#017 정수를 문자열 100으로 변환

a = 100
print (a, type(a))

c = str (a)
print (c, type(c))

100 <class 'int'>
100 <class 'str'>

In [ ]:
#018 문자열을 실수로 변환

a = "15.79"
print(a, type(a))

f = float (a)
print (f, type(f))

15.79 <class 'str'>
15.79 <class 'float'>

In [ ]:
#019 문자열을 정수로 변환

year =  "2020"
print (year, type(year))

year_i = int(year)
print (year_i, year_i+1, year_i+2, type(year_i))

2020 <class 'str'>
2020 2021 2022 <class 'int'>

In [ ]:
#020 파이썬 계산

월 = 48584
무이자개월수 = 36
print ("총 금액은", 월*무이자개월수, "입니다")

총 금액은 1749024 입니다