<a href="https://colab.research.google.com/github/yonguncho/pythonclass/blob/main/Day1_Homework3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#051 리스트 생성
#2016년 11월 영화 예매 순위 기준 top3는 다음과 같습니다.
#영화 제목을 movie_rank 이름의 리스트에 저장해보세요. (순위 저장 정보는 저장하지 않습니다)

movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키']

In [ ]:
#052 리스트에 원소 추가
#051의 movie_rank 리스트에 "배트맨"을 추가하라

movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
movie_rank.append("배트맨")
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [ ]:
#053 movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩 되어 있다.
# "슈퍼맨"을 "닥터 스트레인지"와 "스클릿" 사이에 추가하라

movie_rank = ["닥터 스트레인지", "스플릿", "럭키", "배트맨"]
movie_rank.insert(1, "슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [ ]:
#054 move_rank 리스트에서 '럭키'를 삭제하라

movie_rank = ["닥터 스트레인지", "스플릿", "럭키", "배트맨"]
del movie_rank[2]
print(movie_rank)

['닥터 스트레인지', '스플릿', '배트맨']

In [ ]:
#055 movie_rank 리스트에서 '스플릿'과 '배트맨'을 삭제하라

movie_rank = ["닥터 스트레인지", "스플릿", "럭키", "배트맨"]
del movie_rank[1]
#print(movie_rank)
del movie_rank[2]
print(movie_rank)

['닥터 스트레인지', '럭키']

In [ ]:
#056 lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들어라

lang1 = ["C", "C++", "JAVA"]
lang2 = ["python", "go", "C#"]
#print([lang1]+[lang2]) ##두 리스트를 합친 것으로 중간에 콤마가 들어간다

langs = lang1+lang2
print(langs)

['C', 'C++', 'JAVA', 'python', 'go', 'C#']

In [ ]:
#057 다음 리스트에서 최댓값과 최솟값을 출력하라 (힌트: min(), max() 함수 사용)

nums = [1,2,3,4,5,6,7]
max_value = max(nums)
min_value = min(nums)
print("max:", max_value, "min:", min_value)

max: 7 min: 1

In [ ]:
#058 다음 리스트의 합을 출력하라 (sum 함수 사용)

nums = [1,2,3,4,5]

result = sum(nums)
print(result)

15

In [ ]:
#059 다음 리스트에 저장된 데이터의 개수를 화면에 구하라 (len 함수 사용)

cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "라면", "팥빙수", "김치전"]

result = len(cook)
print(result)

11

In [ ]:
#060 다음 리스트의 평균을 출력하라

nums = [1,2,3,4,5]

result = sum(nums) / len(nums)
print(result)

3.0

In [ ]:
#061 price 변수에는 날짜와 종가 정보가 저장되어 있다. 날짜 정보를 제외하고 가격 정보만 출력하라.( 힌트:슬라이싱)

price = ['20180728', 100, 130, 140, 150, 160, 170]

print(price[1:])

[100, 130, 140, 150, 160, 170]

In [ ]:
#062 슬라이싱을 사용해서 홀수만 출력하라.

nums = [1,2,3,4,5,6,7,8,9,10]

print(nums[::2])

[1, 3, 5, 7, 9]

In [ ]:
#063 슬라이싱을 사용해서 짝수만 출력하라

nums = [1,2,3,4,5,6,7,8,9,10]

print(nums[1::2])

[2, 4, 6, 8, 10]

In [ ]:
#064 슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라

nums = [1,2,3,4,5,6,7,8,9,10]
print(nums[::-1])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
#065 interest 리스트에는 아래의 데이터가 바인딩 되어 있다

interest = ['삼성전자', 'LG전자', 'Naver']
#interest 리스트를 사용하여 아래와 같이 화면에 출력하라.
#출력 예시:
#삼성전자 Naver

print(interest[0], interest[2])

#del interest[1] 또는 'LG전자'만 삭제하고 출력해도 된다
#print(interest)

삼성전자 Naver

In [ ]:
#066 JOIN 메서드 

#join 메서드는 "구분자.join(리스트)"로 리스트에 있는 요소 하나하나를 합쳐서 하나의 문자열로 바꾸어 변환하는 함수이다

#interest 리스트에는 아래의 데이터가 바인딩 되어 있다
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

#interest 리스트를 사용하여 아래와 같이 화면에 출력하라
#출력 예시:
#삼성전자 LG전자 Naver SK하이닉스 미래에셋대우
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [ ]:
#067 join 메서드
#interest 리스트에는 아래의 데이터가 바인딩되어 있다

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

#interest 리스트를 사용하여 아래와 같이 화면에 출력하라
#출력 예시:
#삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

print('/'.join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [ ]:
#068 join 메서드
#interest 리스트에는 아래의 데이터가 바인딩 되어 있다

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

#join() 메서드를 사용해서 interest 리스트를 아래와 같이 화면에 출력하라

#출력 예시:
#삼성전자
#LG전자
#Naver
#SK하이닉스
#미래에셋대우

print('\n'.join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [ ]:
#069 문자열 split 메서드
#회사 이름이 슬래시('/')로 구분되어 하나의 문자열로 저장되어 있다

string = "삼성전자/LG전자/Naver"

#이를 interest 이름의 리스트로 분리 저장하라

#실행 예시
#>> print(interest)
#['삼성전자', 'LG전자', 'Naver']

interest = string.split('/')
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [ ]:
#070 리스트 정렬
#리스트에 있는 값을 오름차순으로 정렬하세요

data = [2,4,3,1,5,10,9]
data.sort()
print(data)

#a = sorted(data)   sorted: 순서대로 정렬, 정렬된 리스트를 반환 / 정렬된 결과를 반환하는 함수는 본체는 변형하지 않음
#print(a)

[1, 2, 3, 4, 5, 9, 10]