<a href="https://colab.research.google.com/github/yonguncho/pythonclass/blob/main/Day1_Homework5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#001
#Ask for the user's first name and display the output message

print("Hello", input("First Name: "))

First Name: Yongun
Hello Yongun

In [13]:
#002
#Ask for the user's first name and then ask for their surname and display the output message

a = input("First Name: ")
b = input("Surname: ")

print("Hello", a, b)

First Name: YONGUN
Surname: CHO
Hello YONGUN CHO

In [21]:
#003
#Write code that will display the joke "What do you call a bear with no teeth?" and on the next line display the answer "A gummy bear!" Try to create it using only one line of code

print("what do you call a bear with no teeth \n A gummy bear!")

what do you call a bear with no teeth
 A gummy bear!

In [27]:
#004
#Ask the user to enter two number. add them together and display the answer as The Total is [Answer]

a = int(input("number1: "))
b = int(input("number2: "))

c = a + b

print("The Total is", c)
print((type(c)))

number1: 2
number2: 3
The Total is 5
<class 'int'>

In [31]:
#005
#Ask the user to enter three numbers. add together the first two number and then multiply this total by the third.
#display the answer as The answer is [answer]

a = int(input("number: "))
b = int(input("number: "))
c = int(input("number: "))

d = (a+b) * c

print("The answer is", d)

number: 3
number: 3
number: 3
The answer is 18

In [34]:
#006 
#Ask how many slices of pizza the user started with and ask how many slices they have eaten.
#work out how many slices they have left and display the answer in a user-freidnly format

a = int(input("how many slices of pizza did you have?"))
b = int(input("how many slices have you eaten? "))

rest = a - b

print("the answer is", rest)

how many slices of pizza did you have?4
how many slices have you eaten? 2
the answer is 2

In [37]:
#007 
#ask the user for their name and their age. add 1 to their age and display the output [Name] next birthday you will be [new age].

a = input("what is your name: ")
b = int(input("what is your age: "))
c = b+1

print(a, "next birthday you will be", c)

what is your name: BOB
what is your age: 34
BOB next birthday you will be 35

In [40]:
#008
#ask for the total price of the bill, then ask how many diners there are. divide the total bill by the number of diners and show how much each person must pay.

a = int(input("total price of the bill: "))
b = int(input("how many diners there are: "))

c = a / b

print("how much each person must pay:", c)

total price of the bill: 10000
how many diners there are: 10
how much each person must pay: 1000.0

In [42]:
#009
#write a program that will ask for a number of days and then will show how many hours, minutes and seconds are in that number of days.

a = int(input("input a number of days: "))
b = a * 60
c = b * 60

print("hours of the days", b)
print("seconds of the days", c)

input a number of days: 1
hours of the days 60
seconds of the days 3600

In [50]:
#010
#there are 2,204 pounds in a kilogram. ask the user to enter a weight in kilograms and convert it to pounds.

a = input("weight: ")
b = int(a)*2204

print("the result is", b, "pounds")

weight: 10
the result is 22040 pounds

In [52]:
#011
#task the user to enter a number over 100 and then enter a number under 10 and tell them how many times the smaller number goes into the larger number in a user-friendly format.

a = int(input("Enter a number over 100: "))
b = int(input("Enter a number under 10: "))

c = a / b
d = a // b     # 뒤 소수점 없이 몫만 출력

print(a, "is", c, "times larger than", b)
print(a, "is", d, "times larger than", b)

Enter a number over 100: 1000
Enter a number under 10: 3
1000 is 333.3333333333333 times larger than 3
1000 is 333 times larger than 3